.grid {
  margin: 87px 50px;
  width: 1251px;
}

.grid-row {
  height: 25px;
}

.button-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .grid {
    width: 90%;
    margin: 50px auto;
  }
}

@media (max-width: 768px) {
  .grid {
    width: 100%;
    margin: 30px auto;
  }

  .grid-row {
    height: 20px;
  }
}

@media (max-width: 480px) {
  .grid {
    width: 100%;
    margin: 20px auto;
  }

  .grid-row {
    height: 15px;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }
}
